#salesTable *{
  padding: 7.5px;
  box-align: center;
  text-align: center;
}
.salesTableHeaderRow *{
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  font-size: 24px;
}
.salesTableBodyRow *{
  font-size: 24px;
}
.salesTableFooterRow *{
  font-size: 24px;
}

* .headerColumnCell{
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 10%;
  border-top-right-radius: 60%;
}
.salesTableHeaderRow .headerColumnCell{
  background: transparent;
}
.salesTableHeaderRow .arrayColumnCell{
  background: #770000;
}
.salesTableHeaderRow .totalColumnCell{
  background: #772222;
}
.salesTableBodyRow .headerColumnCell{
  background: #552222;
}
.salesTableBodyRow .arrayColumnCell{
  background: #774444;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
.salesTableBodyRow .totalColumnCell{
  background: #996666;
}
.salesTableFooterRow .headerColumnCell{
  background: #663333;
}
.salesTableFooterRow .arrayColumnCell{
  background: #885555;
}
.salesTableFooterRow .totalColumnCell{
  background: #AA7777;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}