#salesTable thead tr *:hover{
  background: #88FFFF;
}

#salesTable thead tr th:last-child:hover{
  background: #88DDDD;
}

#salesTable tbody tr *:hover{
  background: #88BBBB;
}

#salesTable tbody tr td:first-child:hover{
  background: #AADDDD;
}

#salesTable tbody tr td:last-child:hover{
  background: #669999;
}

#salesTable tfoot tr *:hover{
  background: #77AAAA;
}

#salesTable tfoot tr td:first-child:hover{
  background: #99CCCC;
}

#salesTable tfoot tr td:last-child:hover{
  background: #558888;
}

#laborTable thead tr *:hover{
  background: #88FFFF;
}

#laborTable thead tr th:last-child:hover{
  background: #88DDDD;
}

#laborTable tbody tr *:hover{
  background: #88BBBB;
}

#laborTable tbody tr td:first-child:hover{
  background: #AADDDD;
}

#laborTable tbody tr td:last-child:hover{
  background: #669999;
}

#laborTable tfoot tr *:hover{
  background: #77AAAA;
}

#laborTable tfoot tr td:first-child:hover{
  background: #99CCCC;
}

#laborTable tfoot tr td:last-child:hover{
  background: #558888;
}